* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
}

#outerwrapper {
    height: 1000px;
    display: flex;
    flex-direction: column;
}
/* header */

#header{
    display: flex;
    justify-content: space-around;
    background-color: lightblue;
    color: white;
    padding: 10px;
}

.cities {
    display: flex;
    justify-content: space-around;
    width: 400px;
    font-size: larger;
}

.cityLinks {
    text-decoration: none;
    color: white;
}

/* body */

.body {
    margin: 0px auto;
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border-bottom: 2px solid black;
    width: 800px;
}

.topleft {
    display: flex;
    justify-content: space-around;
    width: 200px;
}

/* body - forecast */

.tempBox {
    width: 100px;
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: gainsboro;
    padding: 10px;
}

#week {
    width: 800px;
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
}

.symbols {
    width: 80px;
    border-radius: 50%;
    padding: 5px;
}

.description {
    width: 100px;
    text-align: center;
    padding: 10px;
}

.numbers {
    width: 100px;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.day {
    padding: 10px;
}

.hi {
    color: red;
    font-weight: bold;
}

.low {
    color: blue;
    font-weight: bold;
}

#cookieBanner {
    margin: 20px;
    width: 600px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: 2px solid black;
    padding: 10px;
    background-color: gainsboro;
    position: fixed;
    top: 50%;
    left: 25%;
}

.accept {
    background-color: lightblue;
    height: 40px;
    width: 80px;
    padding: 10px;
    box-shadow: 4px 4px black;
    border: 2px solid black;
}



